<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="FineUIPro" type="FineUIPro.ConfigSection, FineUIPro" requirePermission="false"/>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <appSettings>
    <add key="labelWidth" value="230"/>
    <add key="labelHeight" value="120"/>
    <add key="purlabelWidth" value="220"/>
    <add key="purlabelHeight" value="190"/>
    <add key="prolabelWidth" value="220"/>
    <add key="prolabelHeight" value="190"/>
    <add key="A4Width" value="300"/>
    <add key="A4Height" value="600"/>
    <add key="urlapp" value="localhost"/>
    <add key="wlog" value="true"/>
  </appSettings>
  <connectionStrings>
    <clear/>
    <add name="defaultSqlConnection" connectionString="8MsU8490G6aJLQ6cSlrL6tTHAdQisYuo41qDEh0deS3SaY7kFCyqMmMo503R5e/Fn5ykQMgIINXfVAerAKMSpd3CeHr+VdfggH3Hbh5AUKo0JbxP/b2Hpw=="/>
    <add name="Default" connectionString="Password=sa;Persist Security Info=True;User ID=sa;Initial Catalog=ruilin;Data Source=." providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <log4net>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d [%t] %-5p %l - %m%n"/>
      </layout>
    </appender>
    <appender name="EventLogAppender" type="log4net.Appender.EventLogAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d [%t] %-5p %l - %m%n"/>
      </layout>
    </appender>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <!--日志文件名开头-->
      <!--<param name="File" type="log4net.Util.PatternString" value="Logs\Quartz.Server.log_%date{yyyMMdd}.txt" />-->
      <param name="File" type="log4net.Util.PatternString" value=".\Logs\AppBox.log_"/>
      <!--是否追加到文件-->
      <param name="AppendToFile" value="true"/>
      <param name="MaxSizeRollBackups" value="10"/>
      <param name="MaximumFileSize" value="5MB"/>
      <param name="StaticLogFileName" value="false"/>
      <param name="RollingStyle" value="Size"/>
      <!--日志文件格式-->
      <param name="DatePattern" value="yyyyMMdd&quot;.txt&quot;"/>
      <!--按照文件的大小进行变换日志文件-->
      <!--<param name="RollingStyle" value="Size" />-->
      <!--我这里按照日期-->
      <param name="RollingStyle" value="Date"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%n[时间]:%d%n[级别]:%p%n[内容]:%m%n"/>
      </layout>
    </appender>
    <!-- OFF, FATAL, ERROR, WARN, INFO, DEBUG, ALL -->
    <!-- Set root logger level to ERROR and its appenders -->
    <root>
      <level value="INFO"/>
      <!--<appender-ref ref="ConsoleAppender" />-->
      <!-- uncomment to enable event log appending -->
      <appender-ref ref="RollingFileAppender"/>
    </root>
  </log4net>
  <FineUIPro LoadingImageNumber="15" FormMessageTarget="Qtip" Theme="Default" CustomTheme="" DisplayMode="Small" MobileAdaption="true" EnableAnimation="true" DebugMode="true"/>
  <!--
    有关 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <pages controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID" >
      <controls>
        <add assembly="FineUIPro" namespace="FineUIPro" tagPrefix="f"/>
      </controls>
    </pages>
    <httpModules>
      <add name="FineUIProScriptModule" type="FineUIPro.ScriptModule, FineUIPro"/>
    </httpModules>
    <httpHandlers>
      <add verb="GET" path="res.axd" type="FineUIPro.ResourceHandler, FineUIPro" validate="false"/>
      
    </httpHandlers>
    <httpRuntime enableVersionHeader="false"/>
    <compilation debug="true" targetFramework="4.7"/>
    <customErrors mode="Off"/>
    <authentication mode="Forms">
      <forms name=".APPBOXPRO_FORMS_AUTH" loginUrl="~/default.aspx" timeout="120" defaultUrl="~/main.aspx" protection="All" path="/"/>
    </authentication>
    <authorization>
      <deny users="?"/>
    </authorization>
  </system.web>
  <location path="icon">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="res">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="mqtt">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="test">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Model">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Mobile">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="res.axd">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>